/* Add additional styling or overrides as per your requirement */
.links{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}
footer a{
  font-size: 1.8rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
    .footer .row {
      flex-direction: column;
    }
    
    .footer .col-md-6 {
      text-align: center;
      margin-bottom: 10px;
    }
    
    .footer .col-md-6 p {
      margin: 0;
    }
  }
  